<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>CODE2040 Technical Assessment</title>

    <link rel="shortcut icon" href="favicon.png">
    <link href="styles.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  
  
  <body ng-app="main" ng-controller="mainCtrl">
    
    <h1>Michael's <a href="code2040.org" target="_blank">CODE2040</a> Technical Assessment</h1>
    
    <!--<div>-->
    <!--  <button ng-click="part2.getString()">get string</button>-->
    <!--  <input ng-model="part2.string" type="text" />-->
    <!--  <button ng-click="part2.reverseString()">reverse string</button>-->
    <!--  <input ng-model="part2.rstring" type="text" />-->
    <!--  <button ng-click="part2.sendString()">send reverse string</button>-->
    <!--  <textarea ng-model="part2.response" type="text" /></textarea>-->
    <!--</div>-->
  
    <!-- problems -->
    <ul class="list">
      
      <li class="item" ng-repeat="problem in problems">
        
        <h2>{{ problem.name }}</h2>
        
        <p>{{ problem.description }}</p>
        
        <div class="input-group">
          <button ng-click="problem.getData()">get probelm</button>
          <textarea />{{ problem.problem | stringfyObjects }}</textarea>
        </div>
        
        <div class="input-group">
          <button ng-click="problem.mainFn()">solve</button>
          <input ng-model="problem.solution" type="text" />
        </div>
        
        <div class="input-group">
          <button ng-click="problem.validateSolution( true )">validate</button>
          <textarea ng-model="problem.response" /></textarea>
        </div>
        
      </li>
      
    </ul>
    <!-- /problems -->
  
  </body>
  
</html>